Repository Benou/behind-the-scene: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore(app): setup git hooks
  .eslintrc.json
  .husky/commit-msg
  .lintstagedrc.json
  .stylelintrc.json
  commitlint.config.ts
  package-lock.json
  package.json
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/App.tsx
  src/components/HelloWorld/HelloWorld.module.scss
  src/components/HelloWorld/HelloWorld.tsx
  src/setupTests.ts
  tsconfig.eslint.json
Due: eslint --fix, stylelint --fix, prettier --write

build(app): configure project ci
  .github/workflows/build.yml
Due: none

build(app): add codecov
  .github/workflows/build.yml
  README.md
  package.json
Due: prettier --write

build(app): add sonar action to ci
  .github/workflows/build.yml
  README.md
  package.json
  sonar-project.properties
  src/components/HelloWorld/HelloWorld.tsx
Due: eslint --fix, prettier --write

chore(app): rm codecov config
  .github/workflows/build.yml
  README.md
  sonar-project.properties
Due: none

fix(sonar): fix sonar config
  sonar-project.properties
Due: none

fix(sonar): fix sonar config
  .github/workflows/build.yml
Due: none

build(app): add e2e testing
  .eslintrc.json
  .github/workflows/build.yml
  .gitignore
  commitlint.config.ts
  e2e/example.test.ts
  package-lock.json
  package.json
  playwright.config.ts
  tsconfig.eslint.json
Due: eslint --fix, prettier --write

chore(app): initial commit
  .eslintrc.json
  .github/workflows/build.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .stylelintrc.json
  README.md
  commitlint.config.ts
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/robots.txt
  sonar-project.properties
  src/App.test.tsx
  src/App.tsx
  src/index.tsx
  src/react-app-env.d.ts
  src/setupTests.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{scss,css}
  prettier --write: any of: *.{ts,tsx,json,scss}
